body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    display: flex; /* Alinha os itens em linha */
    justify-content: center;
}

nav a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
}

/* Garante que o footer não cubra o conteúdo */
body {
    padding-bottom: 60px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

.menu-item {
    background-color: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
    margin-top: 0;
}

.menu-item p {
    margin: 10px 0;
}

.menu-item.preco {
    font-weight: bold;
    color: #ff6347;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e5533d;
}